.App {
  text-align: center;
  display:  flex;
  flex-direction: column;
  min-height: 100vh;
  position: fixed;
  width: 100vw;
}

.main{
  flex-grow: 1;
  padding: 1.5rem 0;
}

.listContainer{
  margin-top: 2rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap:.3rem;
  overflow-y: auto;
  max-height: calc(100vh - 180px);
}

.mainBtnContainer{
  display: flex;
  justify-content: center;
  gap: .9rem;
}

.btn{
  padding: .5rem;
  outline: none;
  border: none;
  border-radius: .5rem;
  font-weight: bold;
}

.actionBtn{
  padding: .3rem;
  outline: none;
  border: none;
  border-radius: .5rem;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 7vmin;
  min-width: 30px !important;
  pointer-events: none;
}

.header {
  padding: .3rem .2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 1px solid #b318f0;
}

.link {
  color: #b318f0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
